<div ng-controller='AttributesNewCtrl' class='tapor-container'>
	  <div class='row'>
	  	<form class="form-horizontal" role="form">
	  		  <!-- name -->
	  		  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-5">
					  	<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="data.name">
						</div>
					</div>

					<!-- possible values -->					

					<div class="form-group">
						<label for="inputPossible" class="col-sm-2 control-label">Possible values</label>
						<div class="col-sm-5">
					  	<!-- <input type="text" class="form-control" id="inputPossible" placeholder="Name" ng-model="data.name"> -->
							
					  	
					  	<span ng-repeat='value in possible_values track by $index' >
					  		<div class='row possible-value'>
						  		<div class="col-sm-10">
										<input type="text" class="form-control" id="inputPossible$index" placeholder="Value" ng-model="possible_values[$index]">
									</div>
									
									<div class="col-sm-2">
										<button type="button" class="btn btn-danger" ng-click='removeValueAt($index)'>	
											<i class= "fa fa-times" > </i>
										</button>
									</div>
								</div>

							</span>


							<div class='row'>							
								<div class="col-md-offset-10 col-sm-2">
						  		<button type="button" class="btn btn-success" ng-click='addPossibleValue()' >
						  			<i class= "fa fa-plus" > </i>
						  		</button>
								</div>
					  	</div>
						</div>
					</div>

			    <!-- is multiple -->

					<div class="form-group">
						<label for="inputIsMultiple" class="col-sm-2 control-label">Is multiple</label>
						<div class="col-sm-5  ">
							<input type="checkbox" name="multiple" value="multiple" id="inputIsMultiple" ng-model="data.is_multiple">
						</div>
					</div>





					<div class="form-group">
      			<div class="col-sm-offset-2 col-sm-10">
        			<button ng-click="createAttribute()" class="btn btn-default">Create</button>
      			</div>
    			</div>
    
	  	</form>
	  </div>
</div>