<div ng-controller='UsersViewController' class='tapor-container'>
	<div class='row'>
  	
    <!-- left column -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3">
              <img src="{{current_user.image_url}}" class="img-circle">  
            </div>
            <div class="col-md-9">
              {{current_user.name}} 
              <a ng-if="is_editable" href="/users/{{current_user.id}}/edit" class="btn btn-default">Edit</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{current_user.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li>
                  {{current_user.position_affiliation}}
                </li>
                <li ng-if="current_user.is_email_publishable">
                  Email: {{current_user.email}}
                </li>
                <li>
                  Web site: {{current_user.site}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- right column -->
    <div class="col-md-9">
      <div ng-repeat="tool_list in tool_lists">
        <div class="row">
          <div class="col-md-3">
            {{tool_list.name}}
            {{tool_list.description}}
          </div>
          <div class="col-md-9 horizontal-scrolling">
            
            <ul class="list-inline list-unstyled">
              <li ng-repeat="item in tool_list.tool_list_items">
                <img src="{{item.tool.thumb_url}}">
              </li>
            </ul>
            
          </div>
        </div>
      </div>

    </div>

  </div>
</div>