<div ng-controller='TaporIndexController' class='tapor-container'>
	<!-- featured -->
	<div class="row">
		
	</div>

	<!-- content -->
	<div class="row">
		<!-- left content -->
		<div class="col-md-9">
		</div>
		<!-- right content -->
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12" id="tapor-bubble-counter">
				<h1>233</h1>
				</div>
			</div>
			<div class="row" id="tapor-comments-column">
				<div class="col-md-12">
					<div class="tapor-title">Comments</div>
					<div ng-repeat="comment in latest_comments" class="tapor-comment">
						<strong>{{comment.user.name}}	on {{comment.tool.name}}:</strong>
						<span class="break-content" ng-bind-html="comment.content"></span>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- tags -->
	<div class="row">
		<div class="col-md-12" id="tapor-tagcloud">
			<!-- XXX rearrange with modified width -->
			<jqcloud words="system_tags" width="1170" height="145" steps="7"></jqcloud>
		</div>
	</div>
</div>