

<div class='row' id='current'>
	<div class="col-md-12">
	{{greeting}}

	<ul>
		<li>
			<a href='tools/new'>New tool</a>
		</li>
		<li>
			<a href='attributes/new'>New attribute</a>
		</li>
	</ul>
	</div>
</div>


<div class='row' id='spheres'>
	<div class="col-md-12">

	</div>
</div>

<div class='row'>
	<div class="col-md-9">
		<div class='row'>
			<div class="col-md-12">
				Curated tools
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class='row'>
			All lists
		</div>
	</div>

</div>


