<div class="row" id="tapor-footer">
	<div class="col-md-3 tapor-logo">
		<h3>TAPoR 3</h3>
	</div>
	<div class="col-md-9">
		Copyright &copy; 2015 TAPoR, <a href="http://www.mcmaster.ca/">McMaster University</a>, <a href="http://www.ualberta.ca/">University of Alberta</a>
	</div>
</div>