<div ng-controller='ToolsDetailCtrl' class='tapor-container'>

	<div class="row">
		<!-- left content -->
		<div class="col-md-9">
			<!-- tool main content -->
			<div class="row">
				<div class="col-md-12">
					<div class="media">
  					<div class="media-left">
							<img src='{{data.image_url}}'>
						</div>
						<div class="media-body">
							<div class="row">
							<div class="col-md-10">
								<h4 class="media-heading">{{data.name}}</h4>
								<ul>
									<li>Last updated: {{data.last_updated}}</li>
									<li>Site: <a href="{{data.url}}" ng-click="updateToolView()">{{data.url}}</a></li>
								</ul>	
							</div>
							<div class="col-md-1">
							 <a ng-if='is_editable' class="btn btn-default" href="/tools/edit/{{data.id}}" role="button">Edit</a>
							</div>

								
							</div>
							{{data.description}}
						</div>
					</div>									
				</div>
			</div>
			<!-- tool documentation attributes tags -->
			<div class="row">
				<div class="col-md-4">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Documentation</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									Creator
								</dt>
								<dd>
									{{data.creators_name}}
								</dd>
								<dt>
									Creator's site
								</dt>
								<dd>
									{{data.creators_url}}
								</dd>
								<dt>
									Creator's email
								</dt>
								<dd>
									{{data.creators_email}}
								</dd>
							</dl>
						</div>
					</div>
				
				</div>
				<div class="col-md-4">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Attributes</h3>
						</div>
						<div class="panel-body">
							<ul>
								<li ng-repeat="attribute in data.tool_attributes">
									<label>{{attribute.name}}:</label> {{attribute.value}}
								</li>									
							</ul>
						</div>
					</div>
				
				</div>
				<div class="col-md-4">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Tags</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									System wide tags
								</dt>
								<dd>
									<span ng-repeat="tag in data.global_tags track by $index">{{tag}} </span>		
								</dd>
								<dt>
									Your tags
								</dt>
								<dd>
									<!-- <div selectize="tag_config" options='tag_options' id="inputTags" ng-model="data.tags"></div>		 -->
					        <selectize config="tag_config" options='tag_options' ng-model="data.tags"></selectize>
					        <button class="btn btn-primary" ng-click="updateTags()">Save tags</button>
								</dd>
							</dl>
							
							

						</div>
					</div>

				</div>
			</div>
			<!-- Tool appears on lists -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Lists this tool appears on</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div ng-repeat="related in data.related_lists" class="col-md-3">	
									<div class="panel panel-default">
										<div class="panel-heading">	
											<a href="/tool_lists/{{related.id}}">{{related.name}}</a>
										</div>
										<div class="panel-body">
											{{related.description}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Comments -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Comments</h3>
						</div>
						<div class="panel-body">
							<!-- pinned -->
							<div class="row" ng-repeat="comment in data.comments.pinned">
								<div class="col-md-12">
									<div class="media">
				  					<div class="media-left">
											<img src="{{comment.user.image_url}}" class="img-circle">
										</div>
										<div class="media-body">
											<h4 class="media-heading">{{comment.user.name}}</h4>
											{{comment.content}}
										</div>
									</div>
								</div>															
							</div>
							<!-- chronological -->
							<div class="row" ng-repeat="comment in data.comments.not_pinned">
								<div class="col-md-12">
									<div class="media">
				  					<div class="media-left">
											<img src="{{comment.user.image_url}}" class="img-circle">
										</div>
										<div class="media-body">
											<h4 class="media-heading">{{comment.user.name}}</h4>
											{{comment.content}}
										</div>
									</div>	
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<hr>
									<form>
										<div class="form-group">
											<label>Your comment</label>
											<textarea class="form-control vertical-text-area" rows="3" id="inputComment" ng-model="data.user_comment.content"></textarea>
											</div>
											<button class="btn btn-primary" ng-click="updateComment()">Save comment</button>
										
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- right content -->
		<div class="col-md-3">
			<!-- Ratings -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Ratings</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									Overall rating
								</dt>
								<dd>								
								<!-- overall rating -->							
								Content pending
								</dd>
								<dt ng-if="current_user">
									Your rating
								</dt>
								<dd ng-if="current_user">								
								<!-- user rating -->							
									<div star-rating rating-value="data.tool_ratings[0].stars" on-rating-selected="updateRating" max="5"></div>
								</dd>

									
								
							</dl>
						</div>
					</div>
				</div>
			</div>

			<!-- Recommended tools -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Recommended tools</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
				</div>
			</div>

			<!-- People also viewed -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">People also viewed</h3>
						</div>
						<div class="panel-body">
							<div class="row" ng-repeat="tool in data.also">
								<div class="media">
									<div class="media-right">
										<a href="/tools/{{tool.id}}">
											<img class="media-object" src="{{tool.thumb_url}}">
										</a>
									</div>
									<div class="media-body">
									<h5 class="media-heading">{{tool.name}}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


</div>