
<div ng-controller='ToolsEditCtrl' class='tapor-container'>
  <div class='row'>
  <form class="form-horizontal" role="form">
    
    <!-- name -->
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="data.name">
      </div>
    </div>
    
    <!-- image -->

    <div class="form-group">
      <label for="inputImage" class="col-sm-2 control-label">Image</label>
      <div class="col-sm-5">
        
        <!-- <div class="input-group"> -->


        <span class="btn btn-default btn-file">
          <!-- Browse <input id='inputImage' type="file" ng-model='data.image_path' ng-change='updateImage'> -->
          Browse <input type="file" fileread="data.image"/>
        </span>
        
        <img src="{{data.image}}" id="imageContainer" width="450" alt="Image preview...">
        <!-- <input type="text" class="form-control" id="inputEmail" placeholder="Image" ng-model="data.email"> -->
          
        
        
        <!-- </div> -->
      </div>
    </div>


    <!-- description -->

    <div class="form-group">
      <label for="inputDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-5	">
        <textarea class="form-control vertical-text-area" rows="3" id="inputDescription" ng-model="data.description"></textarea>
      </div>
    </div>

    <!-- stars -->

    <div class="form-group">
      <label for="inputStars" class="col-sm-2 control-label">Rating</label>
      <div class="col-sm-5 rating">
        <div star-rating rating-value="data.tool_ratings.stars" on-rating-selected="rateFunction(data.tool_ratings.stars)" max="5"></div>
      </div>
    </div>   

    <!-- tags -->

    <div class="form-group">
      <label for="inputTags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-5">
        <!-- <input type="text" class="form-control" id="inputTags" placeholder="Tags" ng-model="data.tool_tags.tags"> -->
        <div selectize="tag_config" options='tag_options' ng-model="data.tool_tags.tags"></div>

      </div>
    </div>

    <!-- comment -->

    <div class="form-group">
      <label for="inputComment" class="col-sm-2 control-label">Comment</label>
      <div class="col-sm-5  ">
        <textarea class="form-control vertical-text-area" rows="3" id="inputComment" ng-model="data.comments.content"></textarea>
      </div>
    </div>

    <!-- creator name -->

    <div class="form-group">
      <label for="inputCreatorsName" class="col-sm-2 control-label">Creator's name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputCreatorsName" placeholder="Name" ng-model="data.creators_name">
      </div>
    </div>

    <!-- creator email -->

    <div class="form-group">
      <label for="inputCreatorsEmail" class="col-sm-2 control-label">Creator's email</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="inputCreatorsEmail" placeholder="Email" ng-model="data.creators_email">
      </div>
    </div>

    <!-- creator url -->

    <div class="form-group">
      <label for="inputCreatorsURL" class="col-sm-2 control-label">Creator's URL</label>
      <div class="col-sm-5">
        <input type="url" class="form-control" id="inputCreatorsURL" placeholder="URL" ng-model="data.creators_url">
      </div>
    </div>

    <!-- approved -->

    <div class="form-group" nf-if="current_user.is_admin">
      <label for="inputApproved" class="col-sm-2 control-label">Approved</label>
      <div class="col-sm-5  ">
        <ul>
          <li class="checkbox">
            <label>
              <input type="checkbox" name="approved" value="approved" id="inputApproved" ng-model="data.approved">
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- attributes -->

    <div class="form-group" ng-repeat='attribute in data.attribute_types track by $index' >
      <label for="inputName" class="col-sm-2 control-label">{{attribute.name}}</label>
      <div class="col-sm-5">
         <div multselect is-multiple="attribute.is_multiple" model="attribute.model" name="attribute.name" values="attribute.possible_values"> </div>
      </div>
    </div>
   

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="createorUpdateTool()" class="btn btn-primary">Create</button>
      </div>
    </div>

  </form>
  </div>
</div>