
<div ng-controller='ToolsEditController' class='tapor-container'>
  <div class='row'>
  <form id="tool_form" class="form-horizontal" role="form">
    
    <!-- name -->
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="data.name" required>
      </div>
    </div>
    
    <!-- url -->
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">URL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputURL" placeholder="URL" ng-model="data.url">
      </div>
    </div>

    <!-- image -->

    <div class="form-group">
      <label for="inputImage" class="col-sm-2 control-label">Image</label>
      <div class="col-sm-6">
        
        <!-- <div class="input-group"> -->


        <span class="btn btn-default btn-file">
          <!-- Browse <input id='inputImage' type="file" ng-model='data.image_path' ng-change='updateImage'> -->
          Browse <input type="file" fileread="data.image_url"/>
        </span>
                  
        <img class="img-responsive" ng-if="data.image_url.length > 0" src="{{data.image_url}}" id="imageContainer"  alt="Image preview...">      
        
        <!-- </div> -->
      </div>
    </div>


    <!-- detail -->

    <div class="form-group">
      <label for="inputDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-6	">
        <textarea class="form-control vertical-text-area" rows="3" id="inputDescription" ng-model="data.detail" placeholder="About your tool"></textarea>
      </div>
    </div>

    <!-- nature -->
     <div class="form-group">
      <label for="inputNature" class="col-sm-2 control-label">Type</label>
      <div class="col-sm-6">
        <div multselect add-empty="false" is-multiple="false" model="data.nature" name="nature" values="possible_nature"> </div>
      </div>
    </div>
    <!-- language -->
    
    <div class="form-group" ng-if="data.nature[0].value == 'code';">
      <label for="inputLanguage" class="col-sm-2 control-label">Language</label>
      <div class="col-sm-6">
        <select class='form-control' ng-model='data.language[0]' ng-options='value.name for value in possible_language track by value.id' ng-change="modeChanged()"></select>            
      </div>
    </div>
    <!-- code -->
    <div class="form-group" ng-if="data.nature[0].value === 'code';">
      <label for="inputCode" class="col-sm-2 control-label">Code</label>
      <div class="col-sm-6">
      <!-- XXX set ui-ace mode dinamycally -->
      <div ui-ace="aceOption" ng-model="data.code">
      </div>
      
      <div ng-if="data.language[0].value === 'other';">
        This language option supports TAPoR-ML 
        <a tabindex="0" role="button" href="#" id="taporml-info"><i class='fa fa-info-circle'></i></a>
      </div>
      




      

      </div>
    </div>

    <!-- creator name -->

    <div class="form-group">
      <label for="inputCreatorsName" class="col-sm-2 control-label">Creator's name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputCreatorsName" placeholder="Name" ng-model="data.creators_name">
      </div>
    </div>

    <!-- creator email -->

    <div class="form-group">
      <label for="inputCreatorsEmail" class="col-sm-2 control-label">Creator's email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="inputCreatorsEmail" placeholder="Email" ng-model="data.creators_email">
      </div>
    </div>

    <!-- creator url -->

    <div class="form-group">
      <label for="inputCreatorsURL" class="col-sm-2 control-label">Creator's URL</label>
      <div class="col-sm-6">
        <input type="url" class="form-control" id="inputCreatorsURL" placeholder="URL" ng-model="data.creators_url">
      </div>
    </div>

    <!-- repository -->

    <div class="form-group">
      <label for="inputRepository" class="col-sm-2 control-label">Repository</label>
      <div class="col-sm-6">
        <input type="url" class="form-control" id="inputRepository" placeholder="URL" ng-model="data.repository">
      </div>
    </div>

    <!-- approved -->

    <div class="form-group" nf-if="current_user.is_admin">
      <label for="inputApproved" class="col-sm-2 control-label">Approved</label>
      <div class="col-sm-6">
        <ul>
          <li class="checkbox">
            <label>
              <input toggle-checkbox type="checkbox" name="is_approved" value="is_approved" id="inputApproved" ng-model="data.is_approved" data-on="Yes" data-off="No">
            </label>
          </li>
        </ul>
      </div>
    </div>

    <!-- comments -->
  

    <div ng-if="is_editing">

      <div class="form-group">
        <label for="inputCreatorsURL" class="col-sm-2 control-label">Comments</label>

        <!-- not pinned -->
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              Chronological
            </div>
            <div class="panel-body">
              <ul class="draggable_place" as-sortable="commentDragListeners" ng-model="data.managed_comments.not_pinned">
                <li class="column_sortable" ng-repeat="comment in data.managed_comments.not_pinned" as-sortable-item>
                  <div as-sortable-item-handle>
                    <div>
                      <img src="{{comment.user.image_url}}" class="img-circle user-image-url">
                    </div>
                    <div>
                      {{comment.user.name}}
                    </div>
                    <div>
                      <div class="break-content" ng-bind-html="comment.content"></div>
                    </div>
                    <div>
                      <label>
                        Hide <input type="checkbox" name="is_hidden" value="is_hidden" id="inputIsBlocked" ng-model="comment.is_hidden"> 
                      </label>
                    </div>            
                  </div>
                </li>
              </ul>
            </div>
            </div>
        </div>
      
      <!-- pinned -->
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Pinned
          </div>
          <div class="panel-body">
             <ul class="draggable_place" as-sortable="commentPinnedListener" ng-model="data.managed_comments.pinned">
              <li class="column_sortable" ng-repeat="comment in data.managed_comments.pinned" as-sortable-item>
                <div as-sortable-item-handle>
                  <div>            
                    <img src="{{comment.user.image_url}}" class="img-circle user-image-url">
                  </div>
                  <div>
                    {{comment.user.name}}
                  </div>
                  <div>
                    <div class="break-content" ng-bind-html="comment.content"></div>
                  </div>
                  <div>
                    <label>
                      Hide <input type="checkbox" name="is_hidden" value="is_hidden" id="inputIsBlocked" ng-model="comment.is_hidden"> 
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      </div>
    </div>


    <!-- suggested tools -->
      <div nf-if="current_user.is_admin">

        <div class="form-group">
          <label for="inputCreatorsURL" class="col-sm-2 control-label">Suggested tools</label>


          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Tools
              </div>
              <div class="panel-body">

              <div>
              
                <div class="form-group row">
                  <div class="col-sm-2">
                  <label for="inputSearch" class=" form-control-label">Search</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputQuery" placeholder="Query" ng-model="data.tool_query">
                  </div>
                </div>
              
              </div>

                <div class="select-suggested-viewport">

                  <div class="row" ng-repeat="tool in data.query_tools">                  
                    <div class="col-md-12">
                      <input type="checkbox" name="suggested-{{tool.id}}" value="suggested-{{tool.id}}" id="input-suggested-{{tool.id}}" ng-model="tool.is_suggested" ng-click="set_suggested_tool(tool)">
                      {{tool.name}}
                    </div>                  
                  </div>
                </div>

              </div>
            </div>            
          </div>
        </div>
      </div>
    
<!--        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              Tools
            </div>
            <div class="panel-body">
              <ul class="draggable_place" as-sortable="toolDragListeners" ng-model="data.query_tools">
                <li class="column_sortable" ng-repeat="tool in tools" as-sortable-item>
                  <div as-sortable-item-handle>

                  <div>
                    
                    <img width="100" src="{{tool.image_url}}">
                    {{tool}}
                  </div>

              
                  </div>
                </li>
              </ul>
            </div>
            </div>
        </div>
      
      
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            Suggested
          </div>
          <div class="panel-body">
             <ul class="draggable_place" as-sortable="suggestedDragListeners" ng-model="data.suggested_tools">
              <li class="column_sortable" ng-repeat="tool in data.suggested_tools" as-sortable-item>
                <div as-sortable-item-handle>
                    <div>
                    
                    <img width="100" src="{{tool.image_url}}">
                    
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    
      </div>
    </div> -->

    <!-- attributes -->

    <div class="form-group" ng-repeat='attribute in data.tool_attributes' >
      <label for="inputName" class="col-sm-2 control-label">{{attribute.name}}</label>
      <div class="col-sm-6">
         <div multselect add-empty="! attribute.is_multiple" is-multiple="attribute.is_multiple" model="attribute.model" name="attribute.name" values="attribute.attribute_values"> </div>
      </div>
    </div>
   

    <!-- recommended -->

    <!-- end -->

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="createOrUpdateTool()" class="btn btn-primary">Save</button>
        <button ng-if="is_editing" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete</button>
        <a href="/home" class="btn btn-danger">Cancel</a>
      </div>
    </div>

  </form>
  </div>

  <!-- modal -->
  <div class="modal" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete tool {{data.name}}</h4>
        </div>
        <div class="modal-body">
          <p>After deleting this tool only an user with admin privilidges will be able to bring it back into the system.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-if="is_editing" type="button" class="btn btn-primary" ng-click="deleteTool(data.id)">Confirm</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>