<div ng-controller='ToolsFeaturedController' class='tapor-container'>

	<div class="row">
  	<div class="col-sm-6">
  		<div class="row">
  		<div class="panel panel-default">
  			<div class="panel-heading list-editing-column">
        	<h1>Filtering & paginating mechanism</h1>
          <div class="row">
            <div class="col-md-12">
              <pagination total-items="tools_page.meta.count" ng-model="current_page" max-size="5" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination> 
            </div>
          </div>
        </div>
  			<div class="panel-body">
  			<ul class="draggable_place list-tool-area" as-sortable="toolsListener" ng-model="tools_page.tools">
          <li class="column_sortable" ng-repeat="tool in tools_page.tools" as-sortable-item>
            <div as-sortable-item-handle>
            	
            	<div class="row">
            		<div class="col-sm-6">
              		<img src="{{tool.thumb_url}}">
              	</div>
            		<div class="col-sm-6">
            			<ul>
            				<li>
            					{{tool.name}}
            				</li>
            				<li>
            					{{tool.star_average}}
            				</li>
            				<li ng-if="tool.creators_email">
            					{{tool.creators_email}}
            				</li>
            				<li ng-if="tool.creators_url">
            					{{tool.creators_url}}
            				</li>
            			</ul>         
              	</div>
            	</div>

<!--             	<div class="row">
            		<div class="col-sm-12">
            			{{tool.detail}}
            		</div>
            	</div> -->
            
            </div>
          </li>
        </ul>
        </div>
        </div>
  		</div>
  	</div>




  	<div class="col-sm-6">
  		<div class="row">
  		<div class="panel panel-default">
  			<div class="panel-heading list-editing-column">
        	<div class="row">
        		<h1>Featured tools</h1>
        	</div>
        	<div class="row">
        		<div class="col-sm-1 col-sm-offset-10">
        			<button class="btn btn-success" ng-click="saveFeaturedTools()">Save</button>
        		</div>
        	</div>
        </div>
  			<div class="panel-body">
  			<ul class="draggable_place list-tool-area" as-sortable="toolsListener" ng-model="data.featured">
          <li class="column_sortable" ng-repeat="tool in data.featured" as-sortable-item>
            <div as-sortable-item-handle>
            	
            	<div class="row">
            		<div class="col-sm-6">
              		<img src="{{tool.thumb_url}}">
              	</div>
            		<div class="col-sm-6">
            			<ul>
            				<li>
            					{{tool.name}}
            				</li>
            				<li>
            					{{tool.star_average}}
            				</li>
            				<li ng-if="tool.creators_email">
            					{{tool.creators_email}}
            				</li>
            				<li ng-if="tool.creators_url">
            					{{tool.creators_url}}
            				</li>
            			</ul>         
              	</div>
            	</div>

<!--             	<div class="row">
            		<div class="col-sm-12">
            			{{tool.detail}}
            		</div>
            	</div> -->
            
            </div>
          </li>
        </ul>
        </div>
        </div>
  		</div>
  	</div>


  	</div>
</div>

