<div ng-controller='ToolsIndexController' class='tapor-container'>

	<!-- search -->
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
				<div class="form-group">				
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." ng-model='query'>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click='update_query_filter()'>Go</button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- faceting -->
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
				<span ng-repeat="attribute in attributes">
					<div class="form-group">		
						<label>{{attribute.name}}</label>
						<select class='form-control' ng-model='attribute.model' ng-options='value.name for value in attribute.attribute_values track by value.id' ng-change='update_attributes_filter()'>
							<option selected name=''></option>
						</select>
					</div>
				</span>
			</form>
		</div>
	</div>

	<!-- pagination -->
	<div class="row">
		<div class="col-md-12">
			<pagination total-items="tools_page.meta.count" ng-model="page" max-size="5" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>	
		</div>
	</div>

	
	<!-- tools -->
	<div class='row tool-list-entry' ng-repeat="tool in tools_page.tools track by $index">	
		
		<div class='col-md-4 tool-list-entry-image'>
			<a href='tools/{{tool.id}}'>
				<img src="/{{tool.thumb_url}}">
			</a>
		</div>
		
		<div class='col-md-8'>
			<div class="row">
				<div class='col-md-3'>
					<label><a href='tools/{{tool.id}}'>{{tool.name}}</a></label>
				</div>
				<div class='col-md-3'>
					<div star-rating rating-value="tool.star_average" max="5" is-interactive="false"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div ng-bind-html="tool.detail"></div>				
		</div>
	</div>
	
	</div>

</div>