<div ng-controller='ToolsIndexController' class='tapor-container'>
	<!-- faceting -->
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
					<div class="form-group col-xs-4" ng-repeat="attribute in attributes">		
						<label class="col-sm-6 text-right" style="margin-top: 10px">{{attribute.name}}</label>
						<select class='form-control col-sm-6 search-field' ng-model='attribute.model' ng-options='value.name for value in attribute.attribute_values track by value.id' ng-change='update_attributes_filter()'>
							<option selected name=''></option>
						</select>
					</div>
			</form>
		</div>
	</div>

	<!-- sort by -->

	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
				<button class='btn btn-primary' ng-click='order("name")'>Name <span class='glyphicon glyphicon-arrow-down'></span></button>
				<button class='btn btn-default' ng-click='order("rating")'>Rating</button>
				<button class='btn btn-default' ng-click='order("date")'>Date</button>
			</form>
		</div>
	</div>

	<!-- pagination -->
	<div class="row">
		<div class="col-md-12">
			<pagination total-items="tools_page.meta.count" ng-model="page" max-size="5" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>	
		</div>
	</div>

	
	<!-- tools -->
	<div class='row tool-list-entry' ng-repeat="tool in tools_page.tools track by $index">	
		
		<div class='col-md-4 tool-list-entry-image'>
			<a href='tools/{{tool.id}}'>
				<img src="/{{tool.thumb_url}}">
			</a>
		</div>
		
		<div class='col-md-8'>
			<div class="row">
				<div class='col-md-3'>
					<label><a href='tools/{{tool.id}}'>{{tool.name}}</a></label>
				</div>
				<div class='col-md-3'>
					<div star-rating rating-value="tool.star_average" max="5" is-interactive="false"></div>
				</div>
			</div>
			<div class="row">
			<div class="col-md-12">
				<ul>
					<li ng-if="tool.creators_name != ''">Creator(s): {{tool.creators_name}}</li>
					<li ng-if="tool.creators_url != ''">Url: {{tool.creators_url}}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div ng-bind-html="tool.detail"></div>
			</div>
		</div>
		</div>

		

	</div>
	
	</div>

</div>