
<div ng-controller='ToolsNewCtrl'>
  <div class='row'>
  <form class="form-horizontal" role="form">
    

    <!-- name -->
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="data.name">
      </div>
    </div>
    
    <!-- image XXX missing -->

    <!-- description -->

    <div class="form-group">
      <label for="inputDescription" class="col-sm-2 control-label">Description</label>
      <div class="col-sm-5	">
        <textarea class="form-control vertical-text-area" rows="3" id="inputDescription" ng-model="data.description"></textarea>
      </div>
    </div>

    <!-- stars -->

    <div class="form-group">
      <label for="inputStars" class="col-sm-2 control-label">Stars</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputStars" placeholder="Stars" ng-model="data.tool_ratings.stars">
      </div>
    </div>

    <!-- tags -->

    <div class="form-group">
      <label for="inputTags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputTags" placeholder="Tags" ng-model="data.tags">
      </div>
    </div>

    <!-- comment -->

    <div class="form-group">
      <label for="inputComment" class="col-sm-2 control-label">Comment</label>
      <div class="col-sm-5  ">
        <textarea class="form-control vertical-text-area" rows="3" id="inputComment" ng-model="data.comments.content"></textarea>
      </div>
    </div>

    <!-- approved -->

    <div class="form-group">
      <label for="inputApproved" class="col-sm-2 control-label">Approved</label>
      <div class="col-sm-5  ">
        <input type="checkbox" name="approved" value="approved" id="inputApproved" ng-model="data.approved">
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="createTool()" class="btn btn-default">Create</button>
      </div>
    </div>

  </form>
  </div>
</div>