<div ng-controller='ToolsViewController' class='tapor-container'>

	<div class="row">
		<!-- left content -->
		<div class="col-md-9">
			<!-- tool main content -->
			
			<div class="row" itemscope itemtype="http://schema.org/SoftwareApplication">
				<div class="col-md-12">
					<div class="media">
  					<div class="media-left">
							<img src='{{data.tool.thumb_url}}'>
						</div>
						<div class="media-body">
							<div class="row">
							<div class="col-md-10">
								<h4 class="media-heading" itemprop="name">{{data.tool.name}}</h4>
								<ul>
									<li>Last updated: {{data.tool.last_updated}}</li>
									<li>Site: <a href="{{data.tool.url}}" ng-click="updateToolView()">{{data.url}}</a></li>
								</ul>	
							</div>

							<div hidden>
								<link itemprop="applicationCategory" href="http://schema.org/ToolApplication"/>
								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									
									<span itemprop="ratingValue">{{data.ratings.system}}</span>
									<span itemprop="ratingCount">{{data.ratings.rating_count}}</span>
								</div>
							</div>


							<div class="col-md-1">
							 <a ng-if='is_editable' class="btn btn-default" href="/tools/edit/{{data.tool.id}}" role="button">Edit</a>
							</div>
							
								
							</div>
							<div ng-bind-html="data.tool.detail"></div>
						</div>
					</div>									
				</div>
			</div>

			<!-- tool documentation attributes tags -->
			<div class="row">
				<div class="col-md-4">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Documentation</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									Creator
								</dt>
								<dd>
									{{data.tool.creators_name}}
								</dd>
								<dt>
									Creator's site
								</dt>
								<dd>
									{{data.tool.creators_url}}
								</dd>
								<dt>
									Creator's email
								</dt>
								<dd>
									{{data.tool.creators_email}}
								</dd>
							</dl>
						</div>
					</div>
				
				</div>
				<div class="col-md-4">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Attributes</h3>
						</div>
						<div class="panel-body">
							<div render-attributes model="data.tool_attributes"></div>
						</div>
					</div>
				
				</div>
				<div class="col-md-4">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Tags</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									System wide tags
								</dt>
								<dd>
									
									<word-cloud ng-if="data.tagsLoaded" tags="data.tags.system" max-size="30", min-size="10", max-count="30"></word-cloud>

									<!-- <jqcloud words="data.tags.system" width="230" height="200" steps="7"></jqcloud> -->

								</dd>
								<dt ng-if="current_user">
									Your tags
								</dt>
								<dd ng-if="current_user">
					         <selectize config="tag_config" options='tag_options' ng-model="data.tags.user"></selectize>

					        <button class="btn btn-primary" ng-click="update_tags()">Save tags</button>
								</dd>
							</dl>
							
							

						</div>
					</div>

				</div>
			</div>

			<div class="row" ng-if="data.tool.nature === 'code'">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Code</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div ui-ace="aceOption" ng-model="data.tool.code"></div>
								</div>
							</div>
						</div>				
					</div>
				</div>
			</div>

			<!-- Tool appears on lists -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Lists this tool appears on</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div ng-repeat="related in data.related_lists" class="col-md-3">	
									<div class="panel panel-default">
										<div class="panel-heading">	
											<a href="/tool_lists/{{related.id}}">{{related.name}}</a>
										</div>
										<div class="panel-body">
											{{related.detail}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	

			<!-- Comments -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Comments</h3>
						</div>
						<div class="panel-body">
							<!-- pinned -->
							<div ng-if="data.comments.system.pinned.length">
								<h1 class="tapr-logo">Pinned</h1>
								<div class="row" ng-repeat="comment in data.comments.system.pinned">
									<div comment model='comment' user='current_user' update='update_comment'></div>
								</div>
							</div>
							<!-- chronological -->
							<div ng-if="data.comments.system.chronological.length">
								<h1 class="tapr-logo">Chronological</h1>
								<div class="row" ng-repeat="comment in data.comments.system.chronological">
									<div comment model='comment' user='current_user' update='update_comment'></div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12" ng-if="current_user">
									<hr>
									<form>
										<div class="form-group">
											<label>Comment</label>											
											<textarea ui-tinymce="tinymceOptions" ng-model="data.newComment"></textarea>
											<button class="btn btn-primary" ng-click="save_comment()">Publish</button>
										</div>										
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- right content -->
		<div class="col-md-3">
			<!-- Ratings -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Ratings</h3>
						</div>
						<div class="panel-body">
							<dl>
								<dt>
									Overall rating
								</dt>
								<dd>								
								<!-- overall rating -->							
								<div star-rating rating-value="data.ratings.system" max="5" is-interactive="false"></div>
								</dd>
								<dt ng-if="current_user">
									Your rating
								</dt>
								<dd ng-if="current_user">								
								<!-- user rating -->							
									<div star-rating rating-value="data.ratings.user" on-rating-selected="update_ratings" max="5" is-interactive="true"></div>
								</dd>

									
								
							</dl>
						</div>
					</div>
				</div>
			</div>

			<!-- Recommended tools -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Suggested tools</h3>
						</div>
						<div class="panel-body">
							<div class="row" ng-repeat="tool in data.suggested_tools">
								<div class="media">
									<div class="media-right">
										<a href="/tools/{{tool.id}}">
											<img class="media-object" src="{{tool.thumb_url}}">
										</a>
									</div>
									<div class="media-body">
									<h5 class="media-heading">{{tool.name}}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- People also accessed -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">People also accessed</h3>
						</div>
						<div class="panel-body">
							<div class="row" ng-repeat="tool in data.also">
								<div class="media">
									<div class="media-right">
										<a href="/tools/{{tool.id}}">
											<img class="media-object" src="{{tool.thumb_url}}">
										</a>
									</div>
									<div class="media-body">
									<h5 class="media-heading">{{tool.name}}</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


</div>