body {
	background: RGBA(244, 240, 235, 1);
}

#tapor-navigation {
	background: RGBA(77, 77, 77, 1);
}

#tapor-header {
	background: RGBA(38, 38, 38, 1);
	border-top: thick solid RGBA(255, 255, 255, 1);
	color: RGBA(255, 255, 255, 1);
	height: 80px;
	vertical-align: center;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Rokkitt', serif;
}

#tapor-footer {
	color: RGBA(255, 255, 255, 1);
	background: RGBA(77, 77, 77, 1);
	border-top: thick solid RGBA(255, 255, 255, 1);
	vertical-align: center;
	height: 70px;
  line-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

#tapor-tagline {
	color: RGBA(89, 189, 230, 1);
}

.tapor-logo {
	font-family: 'Rokkitt', serif;
}

#tapor-tagcloud {
	background: RGBA(77, 77, 77, 1);
	height: 145px;
	padding: 0px;
	margin-top: 10px;	
}

#tapor-bubble-counter {
	background-color: RGBA(77, 77, 77, 1);
	font-family: 'Rokkitt', serif;
	color: RGBA(89, 189, 230, 1);
	height: 700px;
}

.break-content {
	word-wrap: break-word;
}

.tapor-comment {
	font-size: 0.9em;
}

#tapor-comments-column {
	background-color: RGBA(255, 255, 255, 1);
	border-radius: 0px 0px 5px 5px;
}

.tapor-title {
	font-family: 'Rokkitt', serif;
	font-size: 2em;
}