body, html {
	/*background: RGBA(244, 240, 235, 1);*/
	background: RGBA(255, 255, 255, 1);
	height: 100%;
}


#tapor-navigation {
	background: RGBA(77, 77, 77, 1);
}

#tapor-header {
	background: RGBA(38, 38, 38, 1);
	border-top: thick solid RGBA(255, 255, 255, 1);
	color: RGBA(255, 255, 255, 1);
	/*height: 80px;*/
	vertical-align: center;
	padding: 10px;
	
	/*font-family: 'Rokkitt', serif;*/
}

#tapor-footer {
	color: RGBA(255, 255, 255, 1);
	background: RGBA(77, 77, 77, 1);
	border-top: thick solid RGBA(255, 255, 255, 1);
	vertical-align: center;
	height: 70px;
  line-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.tapor-blue {
	color: RGBA(89, 189, 230, 1);	
}


.tapor-blue hr {
    border: 0; 
    border-top: 5px solid RGBA(89, 189, 230, 1);	
    margin-top: 0px
  

}

#tapor-tagline {
	font-family: 'Rokkitt', serif;
}

.tapor-logo {
	cursor: pointer;
	font-family: 'Rokkitt', serif;
}

#tapor-tagcloud {
	background: RGBA(77, 77, 77, 1);
	/*height: 145px;*/
	padding: 0px;
	margin-top: 10px;	
}

#tapor-bubble-counter {
	background-color: RGBA(77, 77, 77, 1);
	font-family: 'Rokkitt', serif;
	color: RGBA(89, 189, 230, 1);
	height: 700px;
}

.break-content {
	word-wrap: break-word;
}

.tapor-comment {
	font-size: 0.9em;
}

#tapor-comments-column {
	background-color: RGBA(248, 246, 243, 1);
	border-radius: 0px 0px 5px 5px;
}

.tapor-title {
	font-family: 'Rokkitt', serif;
	font-size: 2em;
}

#tapor-featured-carrousel {
	height: 600px;
	background-color: RGBA(255, 255, 255, 1);
	padding: 0px;
	border-bottom: 10px solid RGBA(77, 77, 77, 1);
}

.tapor-carousel {
	height : 600px;
}

.tapor-slide {
	margin: 14px 21px 14px 21px;
}
/* rating */

.rating {
  margin: 0;
  display: inline-block; 
}

.rating li {
	padding: 1px;
	color: #a9a9a9;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	cursor: pointer; 
}
.rating li.filled {
	color: RGBA(51, 172, 224, 1); 
}

.rating li.clear {
	color: #A00; 
}

.tapor-featured-name {
	background: RGBA(77, 77, 77, 1);
	border-radius: 10px 10px 10px 10px;
	color: #FFF;
	font-family: 'Rokkitt', serif;
	/*margin-top: 72px;*/
	
}

.tapor-tool-detail {
	text-align: left;
	/*height: 350px;*/
	/*width: 200px;*/
	overflow: hidden;
}

.tapor-block-content {
	border-top: thick solid RGBA(255, 255, 255, 1);	
	margin: 0px -10px 0px -10px;
	/*margin-left: 7px;
	margin-right: 7px;*/
	/*padding-top: 5px;*/
}

.tapor-slide-image {
	position: relative;
}

.tapor-rightaligned-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.tapor-rightaligned-list li{
	padding-right: .6em;
}

.carousel-rating {
	/*position: absolute;*/
	/*bottom: 5%;*/
}

.carousel-control.right {
	background-image: none;
	color: RGBA(77, 77, 77, 1);	
}

.carousel-control.left {
	background-image: none;
	color: RGBA(77, 77, 77, 1);	
}

.tool-win {
    height: 585px;
    width: 100%;
}

.no-list {
	list-style-type: none;
}

.list-tool-area {
	min-height: 190px;
	/*background-color: #333;*/
}

#tapor-search {
	margin-top: 20px;
}

#tapor-nav {
	text-align: right;
	margin-top: 10px;
}

#tapor-nav a {
	color: #FFF;
}

#tapor-nav li {
	display: inline;
	margin-left: 10px;
}

.ace_editor { 
	height: 400px; 
}

.mce-tinymce {
	height: 400px
}

.edit-tool-list-row {
	display: flex;
}

.edit-tool-list-column {
	display: flex;
	flex: 1;
}

.edit-tool-list-column > .row {
	display: flex;
	flex: 1;
}

.edit-tool-list-column > .row > .panel {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.edit-tool-list-column > .row > .panel > .panel-heading {
}

.edit-tool-list-column > .row > .panel > .panel-body {
	display: flex;
	flex: 2;
	height: 500px;
	overflow-y: scroll;
}

.edit-tool-list-column > .row > .panel > .panel-body > .draggable_place {
	flex: 1;
}

.available_sortable {
	height: 200px;
	overflow: hidden;
}

.using_sortable {

}

.search-field {
	margin-bottom: 5px;
	margin-top: 5px;
	max-width: 50%;
}

.tool-list-entry {
	border-bottom: 2px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 20px;
}


.pagination {
	display: inline;
	padding-left: 0;
	margin: 20px 0px 20px 0px;
	border-radius: 4px;
}

.pagination-row {
	margin: 20px 0px 20px 0px;

}

.user-image-url {
	width: 48px;
	height: 48px;
}

.overflow-hidden {
	overflow: hidden;
}

.taporml-code {
	font-family: monospace;
	white-space: pre;
}

.taporml-h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.taporml-h2 {
	font-size: 1.2em;
	font-weight: bold;
}

.taporml-p {

}

.taporml-container {

}

.pagination-label{
	margin-top: 6px;
	margin-left: 10px;
}

.select-suggested-viewport {
	overflow-x: hidden;
	height: 200px;
}