


<div ng-controller='ListsContributingController' class='tapor-container'>
	
	<div class="row">
		<div class="col-sm-1">
			<img class="img-circle" src='{{current_user.image_url}}'>
		</div>
		<div class="col-sm-5">
			{{current_user.name}}
		</div>



		<div class="col-sm-2 col-offset-4">
			<a class="btn btn-primary" href="/tool_lists/new" role="button">New</a>
		</div>				
	</div>

	<div role="tabpanel">
		<ul class="nav nav-tabs nav-justified">
		  <li role="presentation" class="active">
		  	<a role="tab" data-toggle="tab" ng-click="set_contributing()">
		  		Curating
		  	</a>
		  </li>
		  <li role="presentation">
		  	<a role="tab" data-toggle="tab" ng-click="set_following()">
		  		Following
		  	</a>
		  </li>
		  <li role="presentation">
		  	<a role="tab" data-toggle="tab" ng-click="set_all()">
		  		All
		  	</a>
		  </li>  
		</ul>
	</div>

	<div class="tab-content">
	  
	  <div role="tabpanel" class="tab-pane fade in active">
			<div class="row" ng-repeat="list in data.tool_lists | limitTo: 3">
				<div class="col-sm-2">
					<div class="row">
						<h4>
							<a href="/tool_lists/{{list.id}}">{{list.name}}</a>
						</h4>
					</div>
					<div class="row">
						{{list.detail}}
					</div>
					<div class="row">
						Showing X of {{list.tool_list_items.length}}
					</div>
				</div>
				<div class="col-sm-10">
					<table>
					<tr>
					<td ng-repeat="item in list.tool_list_items | limitTo: 3" >
						<div class="panel panel-default tool_panel">
		  				<div class="panel-body">
		    				<a href="/tools/{{item.tool.id}}">
		    					<img src="{{item.tool.thumb_url}}">
		    				</a>
		  				</div>
		  				<div class="panel-footer">
		  					<a href="/tools/{{item.tool.id}}">
		  						{{item.tool.name}}		
		  					</a>
		  				</div>
						</div>
					</td>
					<tr>
					</table>
				</div>
			</div>  	
		</div>
  	
  	

	</div>

</div> 