<div ng-controller='ListsViewController' class='tapor-container'>
	
	<div class="row">
		<div class="col-sm-10">
		<h1>{{data.name}}</h1>
		</div>
		<div class="col-sm-2">
			<a ng-if="can_edit" href="/tool_lists/edit/{{data.id}}" class="btn btn-primary">Edit</a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Description</h3>
			  </div>
			  <div class="panel-body">
			    {{data.description}}
			  </div>
			</div>

			
		</div>
		<div class="col-sm-6">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Curator</h3>
			  </div>
			  <div class="panel-body">
			    <div class="row" ng-repeat="editor in data.tool_list_user_roles">
			    	<div nf-if="editor.is_editor">
			    		<img src="{{editor.user.image_url}}" class="img-circle">
			    	 {{editor.user.name}}
			    	</div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Tools</h3>
			  </div>
			  <div class="panel-body tool_list_panel" >
			    <div class="row" ng-repeat="item in data.tool_list_items">
			    	<div class="well col-sm-10 col-sm-offset-1" >
			    		
			    		<h3>
			    			{{item.tool.name}}
			    		</h3>

			    		<img src="{{item.tool.thumb_url}}">
			    		
			    		<h3>
			    			Average rating
			    		</h3>

			    		{{item.tool.star_average}}

			    		<h3>
			    			Description
			    		</h3>

			    		{{item.tool.description}}

			    		<dl>
				    		<dt>
				    			Creator
				    		</dt>
									{{item.tool.creators_name}}				    			
				    		<dt>
				    		<dt>
				    			Creator's email
				    		</dt>
									{{item.tool.creators_email}}				    			
				    		<dt><dt>
				    			Creator's website
				    		</dt>
									{{item.tool.creators_url}}				    			
				    		<dt>
			    		</dl>

			    		<h3>Tags</h3>
			    		<ul>
			    		<li ng-repeat="tag in item.tool.tags">{{tag.value}}</li>
			    		</ul>


			    		<h3>Notes</h3>
			    		{{item.notes}}
			    	
			    	</div>
			    </div>
			  </div>
			</div>

		</div>
	</div>

</div>