<div ng-controller='ListsEditController' class='tapor-container'>
  <div class="row">
  	<div class="col-sm-6">
  		<div class="row">
  		<div class="panel panel-default">
  			<div class="panel-heading list-editing-column">
        	<!-- <h1>Filtering and paginating mechanism</h1> -->
          
          <!-- faceting -->
          <div class="row">
            <div class="col-md-12">
              <form class="form-inline">
                <span ng-repeat="attribute in attributes">
                  <div class="form-group">    
                    <label>{{attribute.name}}</label>
                    <select class='form-control' ng-model='attribute.model' ng-options='value.name for value in attribute.attribute_values track by value.id' ng-change='update_attributes_filter()'>
                      <option selected name=''></option>
                    </select>
                  </div>
                </span>
              </form>
            </div>
          </div>

          <!-- pagination -->
          <div class="row">
            <div class="col-md-12">
              <pagination total-items="tools_page.meta.count" ng-model="current_page" max-size="5" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination> 
            </div>
          </div>



        </div>
  			<div class="panel-body">
  			<ul class="draggable_place list-tool-area list-unstyled" as-sortable="toolsListener" ng-model="tools">
          <li class="column_sortable" ng-repeat="tool in tools_page.tools track by $index" as-sortable-item>
            <div as-sortable-item-handle>
            	
            	<div class="row">
            		<div class="col-sm-6 break-content">
              		<img src="{{tool.thumb_url}}">
              	</div>
            		<div class="col-sm-6 break-content">
            			<ul>
            				<li>
            					{{tool.name}}
            				</li>
            				<li>
                    <div star-rating rating-value="tool.star_average" max="5" is-interactive="false"></div>
            					
            				</li>
            				<li ng-if="tool.creators_email">
            					{{tool.creators_email}}
            				</li>
            				<li ng-if="tool.creators_url">
            					{{tool.creators_url}}
            				</li>
            			</ul>         
              	</div>
            	</div>

            	<div class="row">
            		<div class="col-sm-12">
            			<div ng-bind-html="tool.detail"></div>
            		</div>
            	</div>
            
            </div>
          </li>
        </ul>
        </div>
        </div>
  		</div>
  	</div>
  	<div class="col-sm-6">
  		<div class="row">
  			<div class="panel panel-default">
  				<div class="panel-heading list-editing-column">				
          <form id="list_form">
            <div class="col-sm-6">


              <div class="input-group">

                <input type="text" class="form-control" id="listName" placeholder="Name your list" ng-model="data.name" required>
                <span class="input-group-addon">
                  Publish <input type="checkbox" name="is_public" value="is_public" id="inputIsPublic" ng-model="data.is_public">
                </span>
              </div>




            </div>
            <div class="col-sm-6">
    					<button ng-click="createOrUpdateList()" class="btn btn-success">Save</button> 
    	 				<a class="btn btn-warning" href="/tool_lists/contributing">Cancel</a> 
    	 				<button ng-if="is_editing" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button> 										
            </div>
  				<div class="row">
  					<div class="col-sm-12">					
  						<h5>Description</h5>
  						<textarea class="form-control noresize-textarea" rows="3" id="inputDescription" ng-model="data.detail" placeholder="About your list"></textarea>					
  					</div>
  				</div> 
          </form>
        </div>
  			<div class="panel-body list-tool-area">
  			<ul class="draggable_place list-tool-area list-unstyled" as-sortable="listListener" ng-model="data.tool_list_items">
          <li class="column_sortable" ng-repeat="list_item in data.tool_list_items" as-sortable-item>
            <div as-sortable-item-handle>
            
              <img src="{{list_item.tool.thumb_url}}">
            	{{list_item.tool.name}}
              
              <form>
                <h5>Notes</h5>
                <textarea class="form-control noresize-textarea " rows="3" ng-model="list_item.notes"></textarea>
              </form>
            </div>

            </div>
          </li>
        </ul>
        </div>
        </div>
  		</div>
  	</div>
  

<!-- modal -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Delete tool list {{data.name}}</h4>
        </div>
        <div class="modal-body">
          <p>After deleting this list only an user with admin privilidges will be able to bring it back into the system.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-if="is_editing" type="button" class="btn btn-primary" ng-click="deleteToolList(data.id)">Confirm</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
</div>