
<div ng-controller='ListsIndexController' class='tapor-container'>

<div class="row">
	<div class="col-md-12">
		<pagination total-items="tool_lists_page.meta.count" ng-model="current_page" max-size="5" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
		<label class="pagination-label"> of {{tool_lists_page.meta.page_count}}</label>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	  <div ng-repeat="tool_list in tool_lists_page.tool_lists">
		<div class="row">
			<div class="col-md-12">
				<div class="checkbox">
					<label ng-if="current_user.is_admin">
						<input type="checkbox" ng-model='tool_list.is_featured' ng-change='setFeatureTool(tool_list)'> Featured
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div compressed-list list="tool_list"></div>
			</div>
		</div>
	  </div>
	</div>
</div>
</div> 