<div ng-controller='ListsViewController' class='tapor-container'>

	<div class="row" itemscope itemtype="http://schema.org/Product">
		<!-- left content -->
		<div class="col-md-9">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    	<div class="row">
							<div class="col-sm-10">
							<h1 itemprop="name">{{data.name}}</h1>
							</div>
							<div class="col-sm-2">
								<a ng-if="can_edit" href="/tool_lists/edit/{{data.id}}" class="btn btn-primary">Edit</a>
							</div>
						</div>
			  </div>
			  <div class="panel-body">
			  	<div class="well" itemprop="description">
			  		{{data.detail}}
			  	</div>
			    
				
			  	<div class="well" ng-repeat="item in data.tool_list_items">

			  		<div class="row">
			  		<div class="col-md-12">
			  		<div class="media">	  					
			  			<div class="media-left">

			  				<a href="/tools/{{item.tool.id}}">
								<img src='{{item.tool.thumb_url}}'>
							</a>
						</div>
						<div class="media-body">							
							<h4 class="media-heading">
								<a href="/tools/{{item.tool.id}}">
									{{item.tool.name}}
								</a>
							</h4>										
<!-- 								<div star-rating rating-value="item.tool.star_average" max="5" is-interactive="false"></div> -->
							{{item.notes}}
						</div>
						</div>
						</div>	
						</div>

			  	</div>

			  </div>
			</div>
		</div>

		<!-- right content -->

		<div class="col-md-3">

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Other lists by {{data.user.name}}</h3>
					  </div>
					  <div class="panel-body">
							<ul>
								<li ng-repeat="list in by_curator">
									<a href="/tool_lists/{{list.id}}">{{list.name}}</a>
								</li>
							</ul>	    
					  </div>
					</div>
				</div>
			</div>
		
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Related lists</h3>
					  </div>
					  <div class="panel-body">
							<ul>
								<li ng-repeat="list in related_lists">
									<a href="/tool_lists/{{list.id}}">{{list.name}}</a>
								</li>
							</ul>	    
					  </div>
					</div>
				</div>
			</div>


		</div>

	</div>

</div>